#div1{
    height:100px;
    width:100px;
    border:5px solid black;
    padding:5px;
    margin:5px;
    background-color: aqua;
}
#div2{
    height:100px;
    width:100px;
    border:5px solid black;
    padding:5px;
    margin:5px;
    background-color: yellow;
}
#div3{
    height:100px;
    width:100px;
    border:5px solid black;
    padding:5px;
    margin:5px;
    background-color: red;
}
.container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}