body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding:20px;
    text-align: center;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}
.timetable{
    width:90%;
    margin:auto;
    border-collapse: collapse;
    background-color: white;
}
.timetable th ,.timetable td{
    border:1px solid black;
    padding:12px;
    text-align: center;
}
.timetable th{
    border:1px solid white;
    background-color: rgb(129, 3, 3);
    color:white;
}
.break{
    background-color:rgb(234, 137, 137);
    font-weight: 900;
}
.lunchbreak{
    background-color: pink;
    font-weight: 900;
}


