.lakshya{
    background-color: aqua;
}
/*box model*/
height
width
padding
border
margin

#box1{
    height: 100px;
    width: 100px;
    border:5px solid black;
    padding: 5px;
    margin: 5px;
    background-color:red;
    border-radius: 50%;
    float: none;
    position: fixed;
}
#box2{
    height: 100px;
    width: 100px;
    border:5px solid black;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
    border-radius: 50%;
    float: none;
}
#box3{
    height: 100px;
    width: 100px;
    border:5px solid black;
    padding: 5px;
    margin: 5px;
    background-color: green;
    border-radius: 50%;
    float: none;
}   

#div1{
    height:100px;
    width:100px;
    border:2px solid black;
    padding:5px;
    margin:5px;
    background-color: brown;
}
#div2{
    height:100px;
    width:100px;
    border:2px solid black;
    padding:5px;
    margin:5px;
    background-color: chartreuse;
}
#div3{
    height:100px;
    width:100px;
    border:2px solid black;
    padding:5px;
    margin:5px;
    background-color: blueviolet;
}
#box2:hover{
    background-color: blanchedalmond;
    border-radius:20% ;
    border:none;
}